**/imagerc*
ops/*
image/Dockerfile
image/Dockerfile.temp
Dojofile.to_be_tested
Dojofile.example
60-variables.sh

**/*.html
**/real_identity/**
**/identities/real/**
**/dummy_work/**
**/test_dojo_work/stc-*
**/test_dojo_work/*Dojofile*
