#!/bin/bash

###########################################################################
# A file to keep any bash variables.
###########################################################################

export this_image_name="mono-gide"
export this_image_tag="{{THIS_IMAGE_VERSION}}_{{BASE_IMAGE_VERSION}}"
