<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Repositories>
    <Repository id="rep5">
      <IsReference>false</IsReference>
      <File>/home/ide/.config/MonoDevelop/7.0/repository-cache/addins.monodevelop.com_5.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/7.6/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>MonoDevelop Extension Repository</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep6">
      <IsReference>false</IsReference>
      <File>/home/ide/.config/MonoDevelop/7.0/repository-cache/addins.monodevelop.com_6.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/7.6/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>MonoDevelop Extension Repository (Beta channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep7">
      <IsReference>false</IsReference>
      <File>/home/ide/.config/MonoDevelop/7.0/repository-cache/addins.monodevelop.com_7.mrep</File>
      <Url>http://addins.monodevelop.com/Alpha/Linux/7.6/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>MonoDevelop Extension Repository (Alpha channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
      <Enabled>false</Enabled>
    </Repository>
  </Repositories>
  <RepositoryIdCount>8</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>